<!-- sideBar html layout page to include in php files that use sideNav -->
<div class="box sidebar">
	<div class="sideNav">
		<ul>
			<li><p><strong><a href="index.php">Home</a></strong></p></li>
			<li><p><strong><a href="reservation.php">Reservation</a></strong></p></li>
			<li><p><strong><a href="contact.php">Contact</a></strong></p></li>
			<li><p><strong><a href="about.php">About</a></strong></p></li>
			<div class="dropdown">
			<button class="btn dropdown-toggle dropdownButton" id="dropdownButton" type="button" data-toggle="dropdown" style="">Menu
			<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="breakfast.php">Breakfast</a></li>
					<li><a href="lunch.php">Lunch</a></li>
					<li><a href="earlyBird.php">Early Bird</a></li>
					<li><a href="evening.php">Evening/Late</a></li>
				</ul>
			</div>
		</ul>
	</div>
</div>

