<!-- index html template to include in index.php page -->
<div class="box content">
	<div class="container_2">
		<h1>Welcome to my PHP website for WDP Assignment</h1>
		<p>I came across this grid layout I found while researching on the internet, this is the first time I have used it in any capacity </p>
		<a href="https://gridbyexample.com/examples/example12" target="_blank">Click here</a>
		<br>
		<h3>The main part of the assignment is in the reservation page.</h3>
		<p>This uses 2 classes Customer.class.php and table.class.php</p>
		<p>Within the form <a href="reservation.php">HERE</a> to collect data about a reservation from a customer</p>
		<p>The customer class collects info about the user i.e. Name/Email/Phone No.</p>
		<p>The table class collects info about the reservation i.e. Date/Time/How many people and a message from the user.</p>
		<p>When submitted a message relaying the info appears in the same page.</p>
		<p><em>These can be joined together if using a database by adding a customer Id to the table.class.php</em></p>
		<p>Each input is a required field, apart from the message box. The date field does not allow user to pick a past date and the time is a dropdown menu.</p>
	</div>
	
	<div class="content_2">
		<h3>The menu pages are using their own classes</h3>
		<p>This is so extra methods can be added in the future i.e select choice from any menu for ordering/delivery</p>
		<p>These classes are using Multidimensional arrays called from content/menu folder</p>
		<p>This is so any changes to the menu can be made from one place</p>

		<p>I have seperated the HTML and PHP files for each page</p>
		<p>In the PHP file I include the HTML file,</p>
		<p>So as to not have too many PHP opening/closing tags</p>
		<p>Apart from some exceptions in the reservation.html file (date input), and the menu PHP files have echoed some html for their type and times.</p>
	</div>
	

</div>